.grandpa,
.grandpa div {
    border: 2px solid goldenrod;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 10px;
}

.button {
    background-color: springgreen;
    color: rgb(167, 24, 107);
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.grandpa {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-color {
    background-color: chartreuse;
    color: white;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}